@numbergridcolumns: 12;
@screenwidth: 800px;
@bordercolor: white;
@backgroundcolor: #33373c;
@hovercolor: lighten(#3498db,10%);
@textcolor: white;
@objectbrowsertitle: #e74c3c;
// Colors taken from https://flatuicolors.com/

@import url(https://fonts.googleapis.com/css?family=Roboto);

// Global layout
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: @backgroundcolor;
  font-family: 'Roboto', sans-serif;
}

// Very Simple Grid System
.flexVertical {
  flex-direction: row;
  display: flex;
}

.flexHorizontal {
  display: flex;
  flex-direction: column;
}

.grid {
  .flexVertical();
  width: 100%;
  height: 100%;
}

.width(@counter) when (@counter > 0) {
  .width-@{counter} {
    width: (100% / @numbergridcolumns * @counter);
  }

  .emoffset-@{counter} {
    margin-left: 1em * @counter;
  }

  .emwidth-@{counter} {
    width: 1em * @counter;
  }

  .min-width-@{counter} {
    min-width: @screenwidth  / @numbergridcolumns * @counter;
  }

  .max-width-@{counter} {
    max-width: @screenwidth  / @numbergridcolumns * @counter;
  }

  .width((@counter - 1));
}

.width(@numbergridcolumns);

.gridItem {
  .shrink {
    flex-shrink: 1;
  }

  .grow {
    flex-grow: 1;
  }
}

// Borders
.border(@counter) when (@counter > 0) {
  .border((@counter - 1));

  .border-@{counter} {
    border: 1px solid @bordercolor;
  }
}
.border(10);

// Common Fonts
.commonFont {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.commonFontTitle {
  .commonFont();
}

// Property editor styles
.propertyEditor {
  overflow-y: auto;
  overflow-x: hidden;
}

.objectTree {
  overflow-y: auto;
  overflow-x: hidden;

}

// Don't know why but without native webcomponent support
// we are getting into trouble with dynamically created plain html elements
// and their styles not correctly resolved within their polymer style module
.tabpanebuttons {
  flex-direction: row;
  display: flex;
  line-height: 1.45em;
  background-color: #e74c3c;
}

.tabpanebutton {
  color: white;
  margin-left: 1em;
  padding: 0.2em;
  background-color: #e74c3c;
}

.tabpanebutton:hover {
  background-color: #4a5058;
}
