body {
  margin: 0;
  padding: 0;
  background-color: #141414;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.content .welcomemessage {
  text-align: center;
  font-weight: bold;
  width: 80%;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #292929;
  color: #b1b2b2;
  border: 1px solid #505050;
}
.content .contentblocks {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 50%;
}
.content .contentblocks .contentblock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  height: 100%;
  padding: 1em;
}
.infoblock {
  flex-grow: 1;
  border: 1px solid #505050;
  background-color: #141414;
}
.infoblock .title {
  font-weight: bold;
  background-color: #292929;
  color: #b1b2b2;
  padding: 0.3em;
}
.infoblock .infoblockcontent {
  background-color: #141414;
  text-align: left;
  margin: 0.1em;
}
.infoblock .infoblockcontent .entry {
  color: #b1b2b2;
}
.project {
  padding-left: 2.5em;
  min-height: 32px;
  line-height: 32px;
  vertical-align: middle;
  border-bottom: 1px solid #292929;
  color: #b1b2b2;
}
.project:hover {
  background-color: #292929;
}
.github {
  background-image: url("octocat.png");
  background-repeat: no-repeat;
  background-position: left top;
}
#githublogin {
  text-align: center;
}
.githubrepositoryselection select {
  width: 100%;
}
.githubrepositoryselection input {
  width: 100%;
}
.githubrepositoryselection .continue {
  margin-top: 1em;
  background-image: url("openinbrowser.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 36px 36px;
  padding-left: 2.5em;
  min-height: 36px;
  line-height: 36px;
}
